@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wpg-card3d {
  perspective: 1000px;
}

.wpg-card3d-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 650ms cubic-bezier(0.22, 1, 0.36, 1);
}

.wpg-card3d.wpg-card3d-flipped .wpg-card3d-inner {
  transform: rotateY(180deg);
}

.wpg-card3d-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.wpg-card3d-back {
  transform: rotateY(180deg);
}

@keyframes wpgWinnerPop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.wpg-winner-pop {
  animation: wpgWinnerPop 520ms ease-out;
}


